<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <meta name="description" content= "Insert description of webpage">
  </head>
  <body>
    <div id="container">
      <div class="title">
        <h2>Welcome, {{user.first_name}}!</h2>
      </div>
      <div class= "recentreviews">
        <h3>Recent Book Reviews:</h3>
        {% for review in recentreviews %}
        <p>Rating: {{review.rating}}</p>
        <p><a href="/user/{{review.reviewer_id}}">{{review.reviewer.first_name}}</a> says: {{review.desc}}</p>
        <p>Posted on:{{review.created_at}}</p>
        {% endfor %}
      </div>
      <div class="otherbooks">
        <h3> Other Books with Reviews:</h3>
        {% for book in reviewedbooks %}
          <p><a href="/reviews/{{book.id}}">{{book.title}}</a></p>
        {% endfor %}
      </div>
  </div>
  </body>
</html>
