<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <meta name="description" content= "Insert description of webpage">
  </head>
  <body>
    <div id="container">
      <div class="title">
        <h2>Welcome, {{user.first_name}}!</h2>
        <p><a href="/addbook">Add Book and Review</a>  <a href="/logout">Logout</a></p>
      </div>
      <div class= "recentreviews">
        <h4>Recent Book Reviews:</h4>
        {% for k in recentreviews %}
        <h4><a href="/reviews/{{k.book.id}}">{{k.book.title}}</a></h4>
        <p>Rating: {{k.rating}}</p>
        <p><a href="/user/{{k.reviewer_id}}">{{k.reviewer.first_name}}</a> says: {{k.desc}}</p>
        <p>Posted on:{{k.created_at}}</p>
        {% endfor %}
      </div>
      <div class="otherbooks">
        <h3> Other Books with Reviews:</h3>
        {% for k in booksreviewed %}
          <p><a href="/reviews/{{k.book.id}}">{{k.book.title}}</a></p>
        {% endfor %}
      </div>
  </div>
  </body>
</html>
