<!DOCTYPE html>
<html lang= "en">
  <head>
    <meta charset="utf-8">
    <title>Stalk other Users</title>
    <meta name="description" content= "Insert description of webpage">
  </head>
  <body>
    <div id="container">
      <div id="title">
        <p><a href="/dashboard">Home</a>  <a href="/addbook">Add Book and Review</a>   <a href="/logout">Logout</a></p>
        <h2>User Alias: {{user.first_name}}!</h2>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Total Reviews: {{user.user_reviews.count}}</p>
      </div>
      <div class="reviews">
        <h3>Posted Reviews on the following books:</h3>
        {% for k in reviewedbooks %}
          <p><a href="/reviews/{{k.book.id}}">{{k.book.title}}</a></p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
